body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 0;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
}

header,
footer,
main {
    display: flex;
    padding: 30px 0px;
    flex-direction: column;
}

header,
footer {
    background-color: #1F2937;
    padding: 30px 250px
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 35px;
}

/* header section */

p,
a,
button {
    font-size: 18px;
    color: #E5E7Eb;
}

.upper-header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8
}


.hero {
    display: flex;
    padding: 100px 0px;
    gap: 30px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sing-up-button {
    background-color: #3882F6;
    padding: 15px 30px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    flex-shrink: 0;
}

.hero-image {
    min-width: 300px;
    max-width: 500px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: #172130 5px 5px 5px;
}

/* characters */

.characters {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.information-header-text {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}

.cards {
    display: flex;
    gap: 50px;
    text-align: center;
    flex-wrap: wrap;
}

.cards figure {
    max-width: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.characters figure p {
    color:#1F2937;
}

.characters img {
    border-radius: 5px;
    border: 2px solid #3882F6;
}

/* quote section */

.quote-section {
    background-color: #E5E7Eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 250px;
}

.quote-section blockquote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin: 0;  
}

.quote-section cite {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    display: block;
    text-align: right;
}



/* call to action section */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882F6;
    padding: 30px 100px;
    display: flex;
    gap: 100px;
    border-radius: 30px;
}

.call-to-action .sing-up-button {
    border: 1px solid #E5E7Eb;
}

.call-to-action-text {

}


/* footer */


footer {
    justify-content: center;
    align-items: center;
}
